body {
background: url(bg5.JPG) no-repeat center center fixed;
background-size: 100vw 100vh;
	margin: 0;
	height: 100%;
	overflow: hidden;
font-smooth: never;
-webkit-font-smoothing : none;
}

#taskbar {
    position:relative;
    height: 130px;
    margin: 5px 5px 0 5px;
    border: #0f0f12 outset 2px;
    border-radius: 15px;
}
